nav{
    width: 100%;
    height: 100px;
    background-color: red;
    position: fixed;
}
nav .barre{
    display: flex;
    justify-content: end;
    padding: 20px;
}
.barre li{
    list-style: none;
}
.barre li a{
    position: relative;
    text-decoration: none;
    padding: 20px;

}
.barre li a:hover{
    background-color: blue;
}
nav button{
    position: relative;
    right: 5px;
    top: -30px;
    background-color: yellow;
}
nav input{
    position: relative;
    top: -30px;
}
.pannier a img{
    position: relative;
    width: 30px;
    left: 350px;
    top: -80px;
    padding: 20px;
}
.librairie{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: auto;
    top: 100px;
}
.animation{
    display: flex;
    animation-duration: 8s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}
@keyframes mesImages{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-640px);
    }
    50%{
        transform: translateX(-1280px);
    }
    75%{
        transform: translateX(-1920);
    }
    100%{
        transform: translateX(0);
    }
}